@font-face {
    font-family: 'Sen';
    src: url('../assets/fonts/Sen-Regular.woff2') format('woff2'),
         url('../assets/fonts/Sen-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.woff2') format('woff2'),
         url('../assets/fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../assets/fonts/RobotoMono-Regular.woff2') format('woff2'),
         url('../assets/fonts/RobotoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    /*
    --background-color: #f8f8f8;
    --textarea-color: #ffffff;
    --font-color: #141414;
    */
    --color-1: #ffffff;
    --color-2: #f6f6f6;
    --color-3: #e6e6e6;
    --color-4: #cccccc;

    /* #e6e6e6 */

    --color-5: #000000;
}

:root[data-theme="dark"] {

    --color-1: #141414;
    --color-2: #2a2a2a;
    --color-3: #353535; /* 333333 */

    --color-5: #eeeeee;
    /*
    --background-color: #141414;
    --textarea-color: #242424;
    --font-color: #e0e0e0;
    */
}

#sunSvg {
    display: none;
}

#moonSvg {
    display: block;
}

[data-theme="dark"] #sunSvg {
    display: block;
}

[data-theme="dark"] #moonSvg {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--color-1);
}

html {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    user-select: none; 
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.theme-toggle {
    margin: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    right: 0;
    -webkit-tap-highlight-color: transparent;
}

.theme-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.title-text {
    font-family: "Sen", Arial, sans-serif;
    color: var(--color-5);
    font-size: 1.6rem;
    margin: 0;
}

.subtitle-text {
    font-family: "Roboto", sans-serif;
    color: var(--color-5);
    /*margin-top: -1rem;*/
    font-size: 0.8rem;
    line-height: 1.2rem; /* 1.6 rem */
    font-weight: 100;
    margin: 0;
    margin-top: 0.5rem; /* 0 */
}

.circle-icon {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--color-5);
    transform: translateY(0%);
    animation: 2s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
    animation-delay: 1s;
}

#circleUpper {
    animation-name: moveUp;
}

#circleLower {
    animation-name: moveDown;
}

@keyframes moveUp {
    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveDown {
    100% {
        transform: translateY(50%);
    }
}

.top-container {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-container {
    display: flex;
}

.logo-container {
    width: 2.2rem;
    display: none;
    
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-container {
    width: 100%;
    height: 78%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    /*overflow: hidden;*/
}


.input-container {
    width: 100%;
    height: 60%;
    border: 2px solid var(--color-3); /* #c8c8c8 */
    box-sizing: border-box;
    /*overflow: hidden;*/
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 0px; /* 1px */
    position: relative;
    

    /*
    display: flex;
    flex-direction: column;
    justify-content: center;*/
}

.input-container.focused {
    border: 2px solid var(--color-5);
    z-index: 5;
    padding: 0px;
}



.output-container {
    width: calc(100%-4px);
    height: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    background-color: var(--color-2);
    -webkit-tap-highlight-color: transparent;
}   

/*
.input-container {
    width: 100%;
    height: 60%;
    border: 2px solid #e6e6e6; 
    box-sizing: border-box;

    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 0px; 
    position: relative;

*/

.text-area {
    padding: 0.4rem 0rem 0 0.4rem;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 2.4rem);
    border: none;  
    resize: none;
    outline: none;
    font-family: 'Roboto Mono', 'Courier New', monospace;
    overflow-y: scroll;
    white-space: pre-wrap;
    background-color: transparent;
    color: var(--color-5);
}

.text-area.webkit-scrollbar {
    padding: 0.8rem 0.2rem 0 0.8rem;
}

.flex-grow {
    flex: 1;
    width: 10px;
}

.token-count {
    margin: 8px 12px 4px 4px;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    font-family: "Sen", Helvetica, sans-serif;
    white-space: nowrap;      
    overflow: hidden;       
    text-overflow: ellipsis; 
    color: var(--color-5);
}

.clear-button {
    box-sizing: border-box;
    outline: 2px solid var(--color-1);
    margin: 4px;
    padding: 0.4rem 0.6rem;
    position: absolute;
    right: 0;
    font-family: "Sen", Helvetica, sans-serif;
    background-color: var(--color-5);
    color: var(--color-1);
    border: none;
    border-radius: 1.6rem; /*half height*/
    display: none;
}

.clear-button:hover {
    cursor: pointer;
}

.input-bottom {
    width: 100%;
    margin-top: 0.2rem;
    height: 2rem;
    display: flex;
}

.command-text {
    color: var(--font-color);
    font-family: "Sen", Arial, sans-serif;
    font-size: 1rem;
    margin-bottom: 0.4rem;
    margin-left: 1.2rem;
}

::placeholder {
    color: #777777;
    font-size: 14px;
    font-style: "Roboto";
}

.selected-option {
    width: 90px;             
    padding: 4px;           
    font-size: 14px;        
    font-family: "Sen", sans-serif; 
    /*color: #333;*/
    color: var(--color-5);             
    background-color: var(--color-2);
    border-radius: 4px;      
    background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%23var(--color-5)' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

    background-repeat: no-repeat;
    background-position: right center;
    -webkit-tap-highlight-color: transparent;
}

.selected-option:hover {
  background-color: var(--color-3);
}

.unselected-option {
    margin-top: 2px; /* 4px */ 
    width: 90px;             
    padding: 4px;           
    font-size: 14px;        
    font-family: "Sen", sans-serif;              
    border-radius: 4px; 
    background-color:  #d6d6d6; /* #f6f6f6 */
    color: var(--color-5); /* #333 */ 
    display: none;
    /*outline: 2px solid white;*/
    -webkit-tap-highlight-color: transparent;
}

.unselected-option:hover {
  background-color: #333; /*#e6e6e6 */ 
  color: white;
}

.gpt-select {
  display: inline-block;
  border-radius: 4px; 
  margin-left: 6px;
  -webkit-tap-highlight-color: transparent;
}

.gpt-select:hover {
  cursor: pointer;
}



.chunk-input {
    border-radius: 4px;
    background-color: var(--color-2);
    border: none;
    padding: 4px;
    font-size: 14px;  
    margin-left: 6px;
    font-family: "Sen", sans-serif; 
    height: 17px;
    width: 50px;
    outline:none;
    color: var(--color-5);
    /*
    border: none;
    background-color: #f6f6f6;
    padding: 4px;           
    font-size: 14px;        
    font-family: "Sen", sans-serif; 
    width: auto;
    height: auto;*/
}

.info-title {
    font-family: "Sen", sans-serif; 
    font-size: 1rem;
    margin: 1rem;
    color: var(--color-5)
}

.info-content {
    font-family: "Roboto";
    font-size: 0.75rem;
    margin: 1rem;
    font-weight: normal;
    text-align: justify;
    line-height: 1.3rem;
    color: var(--color-5)
}

.button-wrapper { 
    position: relative;
    width: 90%;
    height: 3rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.copied-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 20px;
    background-color: var(--color-5);
    margin-top: -40px;
    white-space: nowrap;
    color: var(--color-1);
    font-family: "Sen", sans-serif; 
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 8px;
    border-radius: 4px;
    opacity: 0;
}

.copied-fade {
    animation: fadeInThenOut 2s forwards;
}


@keyframes fadeInThenOut {
    0%, 80% { opacity: 1; }
    100% { opacity: 0; }
}


.copy-button {
    position: absolute; /* This is changed to absolute */
    top: 0; /* Positioned at the top of its parent */
    left: 0; /* Positioned at the left of its parent */
    width: 100%;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: var(--color-5);
    font-family: "Sen";
    font-size: 1rem;
    color: var(--color-1);
    text-align: center;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*transition: transform 0.1s ease;*/
    z-index: 2; 
    border: none;
    transition: transform 0.1s ease;
}

.hover {
    transform: translateY(-8px);
    cursor: pointer;
}

.shadow {
    position: absolute; /* It remains absolute */
    top: 0; 
    left: 0;
    width: 100%;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: 1; 
}



.prompt-container {
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
}

.prompt-selection {
    width: 100%;
    height: 2rem;
    padding: 8px 8px 4px 8px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    overflow-y: hidden;
}

.prompt-selection::-webkit-scrollbar {
    height: 0;            
    background: transparent;
}

.prompt-option-selected, 
.prompt-option-unselected {
    display: inline-block;
    white-space: nowrap;
    border-radius: 4px; 
    padding: 7px 11px;
    margin-left: 0px; /* -4px */
    font-size: 12px;  
    font-family: "Sen", sans-serif; 
    text-align: center;
    color: black;
    font-weight: bold;
    overflow-x: auto;
    -webkit-tap-highlight-color: transparent;
}

.prompt-selection::after {
    content: "";
    display: inline-block;
    width: 16px;
}

.prompt-option-selected:hover, 
.prompt-option-unselected:hover {
    cursor: pointer;
}

.prompt-option-unselected:hover {
    color: var(--color-5);
    /*background-color: #f0f0f0;*/
    font-weight: bold;
}

.prompt-option-selected {
    background-color: var(--color-3);
    color: var(--color-5);
    /*outline: 2px solid white;*/
}

.prompt-option-unselected {
    color: #707070;
    font-weight: normal;
}

.prompt-margin-right {
    width: 20px;
}

.prompt-textareas {
    width: 100%;
    overflow: hidden;
    height: calc(100% - 40px);
    /*margin-bottom: -12px;*/
}

.prompt-textarea {
    box-sizing: border-box;
    padding: 0 10px 10px 10px;
    font-size: 13px;
    font-family: 'Roboto Mono', 'Courier New', monospace;
    overflow-y: scroll;
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    white-space: pre-wrap;
    overflow-x: hidden;
    /*display: inline-block;*/
    /*
    user-select: none; 
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    */
    display: none;
    color: var(--color-5);
}

.seen {
    display: inline-block;
}

@media (min-width: 20.5rem) {
    .title-container {
        align-items: normal;
    }

    .title-text {
        text-align: left;
    }

    .subtitle-text {
        line-height: 1.6rem;
        margin-top: 0;
    }

    .logo-container {
        display: flex;
    }
}



@media (min-width: 50rem) {

    .text-area::placeholder {
        font-size: 0.9rem;
    }

    .main-container {
        flex-direction: row;
        height: 50%;
    }
    
    .input-container {
        width: 100%;
        height: 100%;
    }

    .output-container {
        width: 100%;
    }

    body {
        width: 90%;
    }

    .top-container {
        height: 30%;
        padding-top: 4%;
        box-sizing: border-box;
    }

    .title-text {
        font-size: 2rem;
    }

    .subtitle-text {
        font-size: 1rem;
    }

    .logo-container {
        width: 3em;
    }

    .circle-icon {
        width: 28px;
        height: 28px;
    }

    .info-title {
        font-size: 1.2rem;
    }

    .info-content {
        font-size: 0.9rem;
        line-height: 1.6rem;
    }

}




@media (min-width: 80rem) {

    body {
        width: 70%;
    }


}




::-webkit-scrollbar {
    width: 0.25rem; 
    height: 0.25rem;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background:var(--color-4);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}




/* For Firefox */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For IE */
input[type="number"]::-ms-clear {
    display: none;
}



input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}


@media only screen and (max-width: 768px) {
    .down {
        margin-top: 8px;
        background-color: red;
    }

    .copy-button {
        transform: translateY(-8px);
    }



}